 
.c{  
     
    background-color:blue;  
    padding:40px;  
    font-family:"Courier New";  
}  
.php {  
    background-color:yellow;  
    padding:40px;  
    font-family:Verdana;  
}  
.java{  
     
    background-color:green;  
    padding:40px;  
    font-family:"Courier New";  
} 

 